<h1>Welcome to Fake Yelp. Felp, as it were.</h1>
<h2>Whoa it's ${data.restaurant}</h2>
<ul>
    <li>Users give ${data.restaurant} ${data.yelp_score} stars out of 5.0</li>
    <li>${data.category}</li>
    <li>${data.distance} from you</li>
    <li>Most popular dish: ${data.fav_dish}</li>
    <li>Is takeout offered? ${data.takeout ? 'Yes' : 'No'}</li>

    <form action="/" method="POST">
        <p><b>Leave a review?</b></p>
        <input type="hidden" name="restaurant_id" value="${data.id}" />
        <label><b>Title</b>
            <p>
            <input type="text" name="review_title" placeholder="Review Title" />
            </p>
        </label>
        <p>
        <label><b>My Review</b>
            <p>
            <textarea name="review_text" placeholder="My review of this restaurant ..." ></textarea>
            </p>
        </label>
        </p>
        <p>
        <label for="score"><b>Your score:</b></label>
        <select id="reviewer_score" name="reviewer_score">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
        </p>
        <p>
        <button type="submit">Save Review</button>
        </p>
        </form>
        </p>
        <p>
        <a href="/"><b>Return to Homepage</b></a>
        </p>
</ul>