<h1>Welcome to Fake Yelp. Felp, as it were.</h1>
<h2>Whoa it's ${data.restaurant}</h2>
<ul>
    <li>Users give ${data.restaurant} ${data.yelp_score} stars out of 5.0</li>
    <li>${data.category}</li>
    <li>${data.distance} from you</li>
    <li>Most popular dish: ${data.fav_dish}</li>
    <li>Is takeout offered? ${data.takeout ? 'Yes' : 'No'}</li>

<form action="/" method="POST">
    <!-- <input type="text" name="restaurant" value=""> -->
    <p><input type="text" name="review_title" value="" placeholder="Title"></p>
    <p><input type="text" name="reviewer" value="" placeholder="Your name"></p>
    <p><input type="text" name="review" value="" placeholder="What did you think?"></p>
    <p><input type="text" name="score" value="" placeholder="Score: 1-5"></p>
    <p><input type="submit" value="Submit"></p>

</form>
</ul>